 <!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title>6807</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   </head>
   <body class="bg-light">

     <!--Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
       <a class="navbar-brand" href="#">Menu</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon">Estudios</span>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#Estudios">Estudios <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="#Practicas">Practicas Laborales <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="#Hobbies">Hobbies <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" href="#">Experiencias <span class="sr-only">(current)</span></a>
           </li>
         </ul>
       </div>
     </nav>
     <!--Start-->
     <br>
     <br>
     <br>
     <div class="container">
       <div class="row">
         <div class="col-sm-3">
           <img src="Patata.jpg" class="rounded-circle img-fluid" alt="Cinque Terre" width="250" height="250">
         </div>
         <div class="col-sm-8 text-center jumbotron jumbotron-fluid bg-light">
           <h1>Gabriel Ortega Jacobo</h1>
           <h4>Ingeniero en tecnologias computacionales</h4>
         </div>
       </div>
    </div>
    <!--Estudios-->
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-sm-6" id=Estudios>
          <h2>Estudios</h2>
          <ul >
            <li v-for="item in items">
              {{ item.estudio }}
            </li>
          </ul>
        </div>
        <div class="col-sm-5">
          <img src="descarga.jpg" class="rounded img-fluid" alt="Cinque Terre" width="500" height="236">
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <img src="descarga.jpg" class="rounded img-fluid" alt="Cinque Terre" width="500" height="236">
        </div>
        <div class="col-sm-5" id=Practicas>
          <h2>Practicas Laborales</h2>
          <ul >
            <li v-for="item in items">
              {{ item.practica }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-sm-6" id=Hobbies>
          <h2>Hobbies</h2>
          <ul >
            <li v-for="item in items">
              {{ item.hobbie }}
            </li>
          </ul>
        </div>
        <div class="col-sm-5">
          <img src="descarga.jpg" class="rounded img-fluid" alt="Cinque Terre" width="500" height="236">
        </div>
      </div>
    </div>
    <br>
    <br>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
    var list1 = new Vue({
      el: '#Estudios',
      data: {
        items: [
          { estudio: 'Preparatoria: Tecnologico de Monterrey Campus VA' },
          { estudio: 'Bachillerato: Tecnologico de Monterrey Campus MTY' },
          { estudio: 'Carrera: Ingeniero en Tecnologias Computacionales (ITC)' }
        ]
      }
      })
    </script>
    <script>
    var list2 = new Vue({
      el: '#Practicas',
      data: {
        items: [
          { practica: 'Maestro danza aerea en Synergy Aerial Arts' },
          { practica: 'Desarrollador en Ecaresoft' }
        ]
      }
      })
    </script>
    <script>
    var list3 = new Vue({
      el: '#Hobbies',
      data: {
        items: [
          { hobbie: 'Tejer Crochet' },
          { hobbie: 'Armar rompecabezas' },
          { hobbie: 'Danza aerea en aro' },
          { hobbie: 'Jugar videojuegos' }
        ]
      }
      })
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   </body>
 </html>
