<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>



  <div class="container" style="margin-left: 40%; margin-top: 50px;">
    <div id="app">
        <h2>Tu pasatiempo</h2>
        <p>Escribe tu pasatiempo favorito: {{ word }}</p>
      <div>
        <input v-model="word">
      </div>
    </div>

  <div id="jumper">
    <br><h2>Pasatiempos de otros</h2>
    <p>Ayuda a juan a saltar la cuerda 15 veces (es su pasatiempo favorito)</p>
    <button class="btn btn-primary" v-on:click="jump += 1">SALTA</button><br>
    <p v-if="jump < 15">Saltos de Juan: {{ jump }}</p>
    <p v-if="jump >= 15">Gracias por ayudar a Juan </p>
  </div>

  <div id="pasatiempos">
    <h2>Mis pasatiempos</h2>
    <ul >
      <li v-for="item in items">
        {{ item.pasatiempo }}
      </li>
    </ul>
  </div>

</div>

  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#jumper',
      data: {
        jump: 0
      }
    })
  </script>
  <script>
    var app2=new Vue({
      el: '#app',
      data: {
          word: 'Tu pasatiempo'
      }
  });
  </script>
  <script>
  var app3 = new Vue({
    el: '#pasatiempos',
    data: {
      items: [
        { pasatiempo: 'Tejer' },
        { pasatiempo: 'Armar rompecabezas' },
        { pasatiempo: 'Danza aerea' },
        { pasatiempo: 'Juegar con mis amigos' },
        { pasatiempo: 'Ver anime' }
      ]
    }
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
